1. vscode create conda enviroment, python should use 3.7 version
2. pip install -r requirements.txt
here may happen pyopenjtalk not install correctly, should do pip install pyopenjtalk manually.
here may happen scipy not install correctly, should do pip install scipy manually.

3. make sure install torch and cude
go to here select conda and os https://pytorch.org/get-started/locally/
conda install pytorch torchvision torchaudio pytorch-cuda=11.8 -c pytorch -c nvidia

if you install python 3.7 and torch=1.13.1
your cuda command should like:
conda install pytorch==1.13.1 torchvision==0.14.1 torchaudio==0.13.1 pytorch-cuda=11.7 -c pytorch -c nvidia

You can use python check
>>> import torch
>>> print(torch.__version__)
should print version without cpu tag
Note: if already install torch cpu version, do pip uninstall torch, and do again => conda install pytorch torchvision torchaudio pytorch-cuda=11.8 -c pytorch -c nvidia
>>> torch.cuda.is_available()
should be True

4. if find ImportError: No module named 'monotonic_align.core'
you should cd "monotonic_align" folder,
you should create "monotonic_align" folder again
then do python setup.py build_ext --inplace


5. if you want to run train_ms.py
this is for multiple person, and your config should set n_speakers > 1
but you don't need provide multiple person in your training.txt.






